<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sheas_Cealer.Props.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sheas_Cealer.Props.Settings>
            <setting name="BrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpstreamUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLightTheme" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsEnglishLang" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="IsLightWeight" serializeAs="String">
                <value>-1</value>
            </setting>
        </Sheas_Cealer.Props.Settings>
    </userSettings>
</configuration>